{% extends 'base.html.twig' %}

{% block body %}

<form action="/update" method="post">
    <input type="text" name="name" value="{{ user.name }}"/>
    <input type="text" name="email" value="{{ user.email }}"/>
    <input type="text" name="salary" value="{{ user.salary }}"/>
    <input type="text" name="country" value="{{ user.country }}"/>
    <input type="text" name="timeZone" value="{{ user.timeZone }}"/>
    <button type="submit">Save</button>
</form>

{% endblock %}